<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" class="datagrid-compact movies-grid">
  <clr-dg-column></clr-dg-column>
  <clr-dg-column>Title</clr-dg-column>
  <clr-dg-column>Genre</clr-dg-column>
  <clr-dg-row *ngFor="let movie of movies">
    <clr-dg-cell>
      <a role="tooltip" [routerLink]="['/movie-view', movie.id]" class="img-redirect tooltip tooltip-sm tooltip-bottom-right">
        <img *ngIf="movie.image" [src]="movie.image" height="64" width="64">
        <span class="tooltip-content">View more</span>
      </a>
    </clr-dg-cell>
    <clr-dg-cell>{{movie.title}} ({{movie.release_date | date: 'yyyy'}})</clr-dg-cell>
    <clr-dg-cell> <app-genre-list [allGenres]="genres" [genreIds]="movie.genre_ids"></app-genre-list></clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgTotalItems]="moviesCount" [clrDgPageSize]="pageSize" [clrDgLastPage]="lastPageIndex">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{moviesCount}} Movies
      <clr-dg-page-size [clrPageSizeOptions]="[5,10,20]">Movies per page</clr-dg-page-size>

    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
