<div role="tooltip" class="tooltip tooltip-sm tooltip-bottom-right">
  <span *ngFor="let no of checkedStarsNumber" class="fa fa-star fa-lg checked"></span>
  <span *ngFor="let no of starsNumber" class="fa fa-star fa-lg"></span>
  <span class="tooltip-content">{{value}}/10</span>
</div>
