<clr-spinner *ngIf="pageNotLoaded" [clrAssertive]="true">Loading data</clr-spinner>

<div class="clr-row" *ngIf="!pageNotLoaded">
  <div class="clr-col-lg-6 clr-col-12">
    <div class="card">
      <div class="card-header">
        {{movie.title}}
      </div>
      <div class="card-block">
        <div class="card-media-block">
          <img *ngIf="movie.image" [src]="movie.image">
          <div class="card-media-description">
            <span class="card-media-title">
              <b>
                Release Date: {{movie.release_date | date: 'dd/MM/yyyy'}}
              </b><br />
              <b>{{movie.runtime | movieDuration}}</b>
            </span>
            <span class="card-media-text">
              {{movie.overview}}
              <br />
              <app-genre-list [genres]="movie.genres"></app-genre-list>
              <app-movie-rating [value]="movie.vote_average"></app-movie-rating>
            </span>
          </div>
        </div>
        <div class="card-text">

        </div>
      </div>
      <div class="card-footer">
        <button (click)="gotoList()" class="btn btn-sm btn-link">Back</button>
      </div>
    </div>
  </div>
</div>
