<div class="main-container">
  <header class="header header-5">
    <div class="branding">
      <a href="#">
        <clr-icon size="42" shape="film-strip" class="is-solid"></clr-icon>
        <span class="title branding">Movies Viewer</span>
      </a>
    </div>
    <div class="header-nav">
      <a (click)="openBarChart()" title="Current movies statistics" class="nav-link nav-icon click-bar-chart">
        <clr-icon shape="bar-chart"></clr-icon>
      </a>
    </div>
    <form autocomplete="off" class="search" (submit)="navigateToMovie()">
      <label class="search-region" for="search-input">
        <input #autocomplete [(ngModel)]="selectedMovieText" id="search-input" list="search-input-list" value="{{selectedMovie.title}}"
               (ngModelChange)="onChange()" placeholder="Search, select a movie and hit enter..." name="movie" type="text">
        <datalist id="search-input-list">
          <option *ngFor="let movie of movies" [value]="movie.title"></option>
        </datalist>

      </label>
    </form>
  </header>
  <div class="content-container">
    <div class="content-area">
      <clr-modal [(clrModalOpen)]="modalOpened" [clrModalClosable]="false">
        <h3 class="modal-title"></h3>
        <div class="modal-body">
          <div style="width:100%;height:100%" #charttarget>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="modalOpened = false">
            Close
          </button>
        </div>
      </clr-modal>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
